Source: netmalper
Section: utils
Priority: optional
Maintainer: Mithun Krish <your-email@example.com>
Build-Depends: debhelper-compat (= 13)
Rules-Requires-Root: no
Standards-Version: 4.5.0

Package: netmalper
Architecture: all
Depends: ${misc:Depends}, python3, dnsutils, nmap
Recommends: rustscan
Description: Network reconnaissance mapper with force-directed graph output.
 netmalper merges nmap data with custom socket scans to create 
 interactive visual maps of network infrastructure.
