#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_install:
	install -D -m 0755 debian/netmalper-wrapper.sh debian/netmalper/usr/bin/NetMalper
	install -D -m 0644 netmalper/cli.py debian/netmalper/usr/share/netmalper/netmalper.py
	install -D -m 0644 visualizer/netmalper_visualizer.html debian/netmalper/usr/share/netmalper/netmalper_visualizer.html

override_dh_builddeb:
	@set -eu; \
	version="$$(dpkg-parsechangelog -SVersion)"; \
	tmp="$$(mktemp -d /tmp/netmalper-build.XXXXXX)"; \
	pkg="$$tmp/netmalper"; \
	mkdir -p "$$pkg"; \
	cp -a debian/netmalper/. "$$pkg/"; \
	find "$$pkg" -type d -exec chmod 755 {} +; \
	find "$$pkg" -type f -exec chmod 644 {} +; \
	chmod 755 "$$pkg/usr/bin/NetMalper"; \
	dpkg-deb --build --root-owner-group "$$pkg" "../netmalper_$${version}_all.deb"
